[submodule "org-reveal"]
	path = org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "evernote-mode"]
	path = evernote-mode
	url = git@github.com:pymander/evernote-mode.git
